CROSSREF_MAILTO=your.email@example.com

ELSEVIER_API_KEY=
ELSEVIER_INSTTOKEN=
IEEE_API_KEY=
IEEE_FULL_TEXT_SESSION_TOKEN=
IEEE_FULL_TEXT_AUTH_TOKEN=
IEEE_FULL_TEXT_AUTH_CODE=
IEEE_FULL_TEXT_AUTH_CODE_PARAM=cltoken
IEEE_FULL_TEXT_FORMAT=xml
SPRINGER_FULLTEXT_API_KEY=
SPRINGER_FULLTEXT_URL_TEMPLATE=
SPRINGER_FULLTEXT_API_KEY_PARAM=api_key
SPRINGER_FULLTEXT_API_KEY_HEADER=

VOYAGE_API_KEY=
OPENAI_API_KEY=
